body{ font:14px/20px arial,sans-serif;  color: #3f903f; }
*{margin: 0px; padding: 0px; box-sizing: border-box}
.container{ margin: 0 auto; background-color: #e0ede0; min-height: 600px; }
@media screen and (max-width: 1000px) {
}
.box{ float: left; box-sizing: border-box; border: groove 2px silver; overflow: hidden;}
.row-100{width: 100%;} .row-50{width: 50%;}
.h-50{height: 50%}    .h-100{height: 100%}

.nav{width: 100%; padding: 5px 10px;  border-bottom: solid 1px #606060}
ul.nav li { width:33.3%;list-style: none; float: left;  padding:2px 4px; min-width: 30px; font-weight: 700;text-align: center}
li:hover{cursor:pointer}
li a{ color: #00AA00; text-decoration: none;}
.current { border-bottom: groove 1px #ff0000 }
.msg_container{width: 100%; height:85%;padding: 10px; overflow-y:auto; margin-bottom: 10px;}
p.info{color: #00aa00}
p.waring{color: #ff7800}
p.error{color: #ff0000}
.header{float: left; font-family: sans-serif; font-size: 1.2em;margin-right: 20px;}
.logger_container{ width: 100%;}
.logger_container p { margin-bottom: 5px;}
.logger_container small { display:inline-block;color: #616161; font-style: italic;width:60px;margin-right: 1em }
